body {
    font-family: Arial, sans-serif;
    background-image: url('/static/images/note1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    margin: 0;
    padding: 0;
}

h1 {
    border: 2px solid #000; /* Bordure inférieure sous "Identification" */
    background-color: #744f4f;
    padding: 10px 0;
    text-align: center;
}

.existing-user, .new-user {
    margin-bottom: 20px;
    background-color: #744f4f;
    padding: 10px 0;
    margin-bottom: 20px;
    border-radius: 10px;
}

.breadcrumb {
    position: absolute;
    top: 130px;
    left: 180px;
    transform: translateX(-50%);
    border-bottom: 1px solid #000; /* Bordure inférieure sous "Accueil" */
    width: 80%;
    padding: 10px 0;
    background-color: rgba(255, 255, 255, 0.8); /* Background with some transparency */
    color: #000;
    border-radius: 10px;
}

.new-user h2, .existing-user h2 {
    font-size: 1.5rem;
    text-align: center;
    padding: 10px 0;
    background-color: rgba(255, 255, 255, 0.8); /* Background with some transparency */
    color: #000;
    border-radius: 10px;
}

.new-user h2 {
    font-size: 1.5rem;
    color: #ce1919; /* Rouge pas trop foncé */
    background-color: #ffe0e0; /* Fond rose clair pour le surlignage */
    font-weight: bold; /* Gras */
    text-align: center;
    padding: 10px 0;
}
.existing-user h2 {
    color: #116dc9; /* Bleu clair pas trop foncé */
    background-color:  #9cccfc; /* Bleu moins foncé */
    font-weight: bold; /* Gras */
    text-align: center;
    padding: 10px 0;
    font-size: 1.5rem;
}

.new-user h2::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    z-index: -1;
    padding: 10px 0;
}


.btn-primary {
    background-color: #007bff; /* Bleu */
    border-color: #007bff; /* Bleu */
    color: #fff; /* Blanc */
}
.logo {
    display: block;
    margin: 0 auto;
    max-width: 200px; /* Adjust as needed */
    margin-bottom: 20px;
}

.btn-primary:hover {
    background-color: #fff; /* Blanc */
    border-color: #007bff; /* Bleu */
    color: #007bff; /* Bleu */
}

.form-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
input, label, .new-user p, .form-control {
    color: #000; /* Black text */
}
                     
input::placeholder {
    color: #777; /* Gray placeholder text */
}