{% extends "navbar.html" %}

{% block content %}
<div class="container mt-3">
    <h1>Liste des Livres</h1>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead class="table-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Titre</th>
                    <th scope="col">Auteur</th>
                    <th scope="col">Editeur</th>
                    <th scope="col">Prix</th>
                    <th scope="col">Statut</th>
                    <th scope="col">Propriétaire</th>
                    {% if current_user.role=='admin' %}
                    <th scope="col">Action</th>
                    {%endif%}
                </tr>
            </thead>
            <tbody>
                {% for book in books %}
                <tr>
                    <td>{{ book.id }}</td>
                    <td class="text-truncate">{{ book.name }}</td>
                    <td class="text-truncate">{{ book.auteur }}</td>
                    <td class="text-truncate">{{ book.editeur }}</td>
                    <td class="text-truncate">{{ book.prix }}</td>
                    <td class="text-truncate">{{ book.is_sale }}</td>
                    <td class="text-truncate">{{ book.owner.name }} {{ book.owner.prenom }}</td>
                    {% if current_user.role=='admin' %}
                    <td>
                        <div class="d-flex justify-content-around">
                            <a href="/books/book/edit/{{ book.id }}" class="btn btn-warning">Editer</a>
                            <form action="/books/delete/{{ book.id }}" method="get" class="delete-form">
                                <button type="submit" class="btn btn-danger">Supprimer</button>
                            </form>
                        </div>    
                    </td>
                    {%endif%}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <p class="text">Total des livres : {{ books|length }}</p>
    {% if current_user.role=='admin' or current_user.role=='client' %}
    <div class="text-center">
        <a href="/books/add" class="btn btn-primary">Ajouter un Livre</a>
    </div>
    {%endif%}
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

{% endblock %}
